.page
  padding-top: 50px
  padding-bottom: 600px
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%)
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 105px
  &-content
    display: flex
    justify-content: space-between
    align-items: center
  &-subtitle
    display: inline-block
    font-size: 24px
    line-height: 28px
    color: $primary
    margin-bottom: 14px
  &-title
    font-weight: bold
    font-size: 50px 
    line-height: 59px
    margin-top: 0px
    margin-bottom: 20px

.social
  &-link
    margin-left: 20px
  &-link:first-child
    margin-left: 0

